<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvPauRY2ksO-ucG9wSYOXufJq8xH48L4o</string>
	<key>GCM_SENDER_ID</key>
	<string>40632360916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paraiso.paraiso</string>
	<key>PROJECT_ID</key>
	<string>paraiso-a6ec6</string>
	<key>STORAGE_BUCKET</key>
	<string>paraiso-a6ec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40632360916:ios:30d7fdf32f4d1f66478041</string>
</dict>
</plist>